* {
    box-sizing: border-box;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

body {
    text-rendering: auto;
    background-color: black;
    background: url("../resources/The_Quest_Board_Main.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 }
.wrapper {
    width:  100%;
    display: inline;
    position: relative;
    background-origin: content-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto auto;
    padding: initial;
    padding-top: 70%;
    padding-bottom: 60%;
}
.wrapper:after {
    padding-top: 100%;
    padding-bottom: 100%;
    display: block;
    content: '';
}
.main {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    color: black;
    text-align: center;
    margin: auto auto;
    padding: inherit;
    padding-top: 70%;
    padding-bottom: 60%;
}
.buttons {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    color: black;
    text-align: center;
    margin-top: 150%;
}
.tavernBtn {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 50%;
    left: 0;
    text-align: left;
    text-indent: -9999px;
    border: none;
    cursor: pointer;
    background-image: url("../resources/The_Quest_Board_lArrow.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto;
    overflow: visible;
}
.exchangeBtn {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 50%;
    text-align: left;
    text-indent: -9999px;
    border: none;
    cursor: pointer;
    background-image: url("../resources/The_Quest_Board_rArrow.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto;
    overflow: visible;
}
.qbheader {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    text-indent: 50px;
    margin: auto auto;
    padding: inherit;
    padding-top: 73%;
    padding-bottom: 60%;
}
.qbtext {
    position: inherit;
    top: 5%;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    text-indent: 50px;
    margin: auto auto;
    padding: inherit;
    padding-top: 70%;
    padding-bottom: 60%;
}
.qbtext2 {
    position: inherit;
    top: 7%;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    text-indent: 50px;
    margin: auto auto;
    padding: inherit;
    padding-top: 70%;
    padding-bottom: 60%;
}